# Материал

{% for name, content in material.items()  %}
---
name: {{ name }}
---
{{ content }}
---
{% endfor %}

# Текущая карта знаний

---
{{ knowledge_map }}
---

# Запрос пользователя

---
{{ user_query }}
---

# Инструкция

Тебе нужно изменить текущую карту знаний так, чтобы она лучше удовлетворяла запросу пользователя.
При генерации новой карты основывайся на предоставленном материале.

## Памятка для ре-организации
- Концепт — отдельная единица знания, с уникальным именем.
- Концепты организованы в иерархию, от главных общих тем к специализированным дочерним
- Описания пишутся краткие, с учетом контекста родительской темы, связей со связанными концептами.

## Источники Концептов

Добавь источники к каждому концепту. Выбери источники, к которым относится концепт, из этого списка.
{% for source in allowed_sources %}
- {{ source }}
{% endfor %}
Если концепт охватывает несколько источников, добавь их.

## Формат ответа

При построении иерархии строго следуй этой JSON-схеме:

```json
{{ json_schema }}
```
