# Инструкция

Тебе нужно связывать между собой концепты карты знаний, если между ними существует тематическая или смысловая связь.

## Концепты

Связывай концепты из этого списка:
{% for concept in concepts %}
- {{ concept }}
{% endfor %}

## Формат ответа

При связывании концептов строго следуйте этой JSON-схеме:

```json
{{ json_schema }}
