## Step 3. Link related concepts

Link any two concepts if they have a thematic or semantic relationship.
This is usually used to link any concepts between hierarchies.
NOTE: Do not add any concepts which are not in the hierarchy section.
**IMPORTANT**: If one concept is ancestor or descendant of other concept in the hierarchy, DO NOT LINK THEM as related, as they already linked trough hierarchy.
We inserested in connections between different hierarchies.
{# **IMPORTANT**: If one concept is connected to another as prerequisite, DO NOT LINK THEM as related.#}

When linkng prerequisites, strictly follow this json schema:  
{{ json_schema }}
