## Step 2. Add Prerequisites

Connect two concepts as prerequisites if understanding one is strictly required to learn the other.
NOTE: Do not add any new concepts which are not in the hierarchy section.
**IMPORTANT**: If one concept is ancestor or descendant of other concept in the hierarchy, DO NOT CONNECT THEM as prerequisite.
If there is no suitable concepts, write empty json `"prerequisites": {}`

When connecting prerequisites, strictly follow this json schema: 
{{ json_schema }}
