## Step 2. Add sources 

For each concept in the hierarchy, add reference to source file where this concepts is takend from.
If file is not a well-structured markdown, or a makrown file without headers, write reference as:
`file.md`
If a file is a well-structured markdown with headings, write both name and headers-path:
`file.md#Quick-start/Setup/Requirements`

Use the file path from the name property in the YAML metadata block for each file.

### Response format 
Follow this json schema:

```json
{{ json_schema }}
```
